<div id="<%= dom_id productcategory %>">
  <p>
    <strong>Name:</strong>
    <%= productcategory.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= productcategory.description %>
  </p>

</div>
