<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Productcategory</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to productcategories_path, class: button_class(theme: "transparent") do %>
      All Productcategories
      <% end %>
      <%= link_to edit_productcategory_path(@productcategory), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-blue-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @productcategory.name %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @productcategory.description %></p>
      </li>
  </ul>
</div>
